@font-face {
  font-family: 'Anton SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/antonsc/v1/4UaBrEBBsgltGn71sxLjza_B4g.woff2) format('woff2');
}
